#topheader {

  background-image: url("../img/backgrounds/landing.jpg");

  }
/*Hamburger menu*/
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F15A29;
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    }

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/*end of hamburger menu*/
#menuIcon{
  display: block;
  margin: 0 auto;
  font-family: 'Merriweather';
}
#tagLine{

  color: white;
}
.happyHour{
  background-color: white;
  height: 75px;
}
.happyTime{
  background-color: pink;
  height: 75px;
}
#breakfast{
    background-image: url("../img/foodtop/breakfast.jpg");
    color: white;
    height: 150px;
    text-align: center;
    font-style: italic;
}
#lunch{
    background-image: url("../img/foodtop/lunch.jpg");
    color: white; height: 150px;
    background-color: white;
    text-align: center;
    font-style: italic;
}
#dinner{
    background-image: url("../img/foodtop/dinner.jpg");
    color: white;
    height: 150px;
    text-align: center;
    font-style: italic;
}
#menuOptions{
  text-align: center;
  margin-top: 1%;
}
#gallery{
    border: 1px solid orange;
    width: 90px;

}
.tb{
    margin-left:200px;
    width: 350px;
    /*padding: 7px;
    border: 2px;
    width: 150px;
     max-height: 150px;
    box-shadow: 3px 3px 3px #f1f1f1;
    float: right;*/
}
#boxTwo{
  text-align: left;
}
.boxThree{
  text-align: left;
}
#boxFour{
  text-align: left;
}
#section-things{
  width:auto;

}
.drinksSection{
  margin-left: 5px;
}
/*.slideshowOptions{
  background-image:url("../img/backgrounds/foodsBg.jpg");
  height: 150px;
}*/
.hoverEffect :hover{
  opacity: 0.5;

}
.hoverEffect h3:hover
{

color:black;

}
#colorGrey{
  background-color: lightgrey;
  height:75px;
}
#colorOrange{
  background-color: #F15A29;
  height:75px;
}
.backgroundNav{
  background-color: white;
}
.navigationBackground {
  background-image: url("../img/backgrounds/foodsBg.jpg");
  padding: 40px;
  color: #F15A29;
}

#subscription{
  background-image: url("../img/backgrounds/subscribe.jpg");
  text-align: center;
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
}
#footerMenu{
  background-color: #F15A29;
  color: white;
  text-align: center;
  padding-top: 30px;
}
#footerMenu :h6{
  font-size: 50;
}
#myButton{
  background-color: #F15A29;
  border: none;
  color: white;
  font-style: serif;
  text-align: center;
  width: 140px;
  height: 30px;
  font-size: 11px;

}
#email{
  height:50px;
  width:200px;
}
#emailAddress{
  width: 250px;
  height: 30px;
  opacity: 0.5;
  font-size: 11px;
  font-style: serif;
  color: black;
}
